{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>Nady's - log in</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}"> 
{% endblock head %}


{% block content %}

<div>
  {% if user.is_authenticated %}
    <h3 class="title3" style="margin-top:4vw;">Yay you're logged in!</h3>
  
  {% else %}
  <div class="main">
      <h3 class="title" style="margin-top:4vw;">Log In</h3>
  </div><br>
  <div class="login-page">
    
    <div class="login-form" >
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" value="Login" style="color:white ; background-color: #a4b9f0f9;">Sign Up</button>
      </form>
    </div>
    
  </div>
  {% endif %}
    
</div>

{% endblock content %}
