<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nadya Shelim</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

    {% block content %}
<body style="background-image: linear-gradient(to bottom right, #dcbadcf9,rgb(227, 222, 171));">
    <h4 style="font-family: 'Lora', serif; font-weight: lighter; color: #707fa4f9; text-align: center; margin-top: 40px;">Welcome!</h3>
    <p style="font-family: 'Lora', serif; font-weight: lighter; color: #707fa4f9; text-align: center; font-size: 20px; margin-top: 60px;">About Me</p>
    <img style="width: 190px; height: 250px; border-radius: 50%; float: left; margin-left: 120px;" src="{% static 'img/photo.jpg' %}"/>
    <p style="font-family: 'Lora', serif; color: #707fa4f9; text-align: center;">Hello! My name is Nadya. I am currently a student at University of Indonesia majoring in Information System.<br>
    I am Class of 2019. My hobbies includes listening to music and reading novels.<br>Below is a table containing my educational background.</p><br>
    
    <table style="font-family: 'Lora', serif; font-weight: lighter; color: #707fa4f9; text-align: center;">
        <tr>
            <th>Year</th>
            <th>Education</th>
        </tr>
        <tr>
            <td>2013-2016</td>
            <td>SMP Tarakanita 5</td>
        </tr>
        <tr>
            <td>2016-2019</td>
            <td>SMA Negeri 70 Jakarta</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>University of Indonesia</td>
        </tr>
    </table>

</body>
    {% endblock content %}
    
</html>