<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nadya Shelim</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

    {% block content %}
<body>
    <div id="grad1">
        <img src="{% static 'img/photo.jpg' %}" class="me">
        <div class="about-content">
            <h4>About me</h4><br>
            <p>Hello! My name is Nadya Shelim and people usually just call me Nadya.
            I am currently a student at University of Indonesia majoring in Information System.
            I am Class of 2019. My hobbies includes listening to music and reading novels.
            Below is a table containing my educational background.</p>
        </div>
        <div class="table-outline">
            <h4>My Educational Background</h4><br>
            <table>
                <tr>
                    <th>Year</th>
                    <th>Education</th>
                </tr>
                <tr>
                    <td>2013-2016</td>
                    <td>SMP Tarakanita 5</td>
                </tr>
                <tr>
                    <td>2016-2019</td>
                    <td>SMA Negeri 70 Jakarta</td>
                </tr>
                <tr>
                    <td>2019-2023</td>
                    <td>University of Indonesia</td>
                </tr>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
    {% endblock content %}

</html>  
