<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nadya Shelim</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

    {% block content %}
<body>
    <div id="grad1">
        <article class="all">
            <div class="browser">
                <div class="photos">
                    <img src="{% static 'img/playground.jpg' %}">
                </div>
                <div class="text">
                    <h4>STAFF PLAYGROUND COMPFEST</h4>
                    <p>This year I applied to be one of Playground's staff and got accepted. Because of the pandemic, Compfest is held online and so does the Job & Intern Fair.
                    I had the opportunity to contact several companies and startups to offer them to become one of the recruiting companies at the Job & Intern Fair. Overall it was such a great experience.
                    I feel more able to speak more professionally and I also learned about MoU.</p>
                </div>
            </div>
            <div class="browser">
                <div class="photos">
                    <img src="{% static 'img/setara.jpg' %}">
                </div>
                <div class="text">
                    <h4>VENUE MANAGER AT SETARA</h4>
                    <p>SETARA is my highschool's sports, education and music event. I was one of the venue managers staff.
                    Basically my responsibility is to handle the permit to use a place or room in the school.
                    At d-day I also have to make sure everything goes well in location where the event takes place.</p>
                </div>
            </div>
        </article>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
    {% endblock content %}

</html>