{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nadya Shelim</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

    {% block content %}
<body>
    {% if user.is_authenticated %}
        <div id="grad1">
            <div class="center-content">
                <h2>Hi {{ user }}! Welcome to my page</h2><br></br>
                <h3>Find Me on</h3><br>
                <div class="social-media">
                    <a href="https://www.instagram.com/nadyashelim/" class="fa fa-instagram"></a>
                    <a href="https://www.linkedin.com/in/nadya-shelim-6997161a2/" class="fa fa-linkedin"></a>
                </div>
            </div>
        </div>
    
    {% else %}
    <div id="grad1">
        <div class="center-content">
            <h2>Hi! Welcome to my page</h2><br></br>
            <h3>Find Me on</h3><br>
            <div class="social-media">
                <a href="https://www.instagram.com/nadyashelim/" class="fa fa-instagram"></a>
                <a href="https://www.linkedin.com/in/nadya-shelim-6997161a2/" class="fa fa-linkedin"></a>
            </div>
        </div>
    </div>
    {% endif %}

</body>
    {% endblock content %}

</html>