<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nadya Shelim</title>
    {% block meta %}
    {% endblock meta %}
</head>
{% block content %}
<body>

    <div id="grad1">
        <div class="add-matkul">
            <p>ADD ACTIVITY !</p><br>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                <table class="table mx-3" style="width:88vw">
                    {{ form.as_table }}
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="Submit" class="btn btn-primary click"></td>
                    </tr>
                </table>
            </form>
        
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
{% endblock content %}
</html>