<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nadya Shelim</title>
    {% block meta %}
    {% endblock meta %}
</head>

    {% block content %}
<body>
    <div class="show-matkul">
        <p>Here are some of my activities :)</p><br><br>
        <table class="table mx-3 table-responsive justify-content-center" style="width:88vw" style="width: 80%; text-align: center; margin-left: auto; margin-right: auto;">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Participant</th>
                </tr>
            </thead>
            </tbody>
                {% csrf_token %}
                {% for i in Kegiatan %}
                <tr>
                    <td>{{ i.activity }}</td>
                    
                    {% csrf_token %}
                    {% for j in Partisipan %}

                        {% if j.join_activity == i %}
                            <td>{{ j.Name }}</td>
                        {% endif %}

                    {% endfor %}
                </tr>
                {% endfor %}

            </tbody>
        </table><br>

        <form action="" method="POST" novalidate>
            {% csrf_token %}
            <table class="table mx-3" style="width:88vw">
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" style="background-color: salmon; color: white;" value="Join" class="btn click"></td>
                </tr>
            </table>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
    {% endblock content %}
</html>
