@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

div {
    padding: 0.5em;
}
.item{
    padding: 15px;
}
.accordion{
    background-color: rgb(227, 222, 171);
    color: black;
    cursor: pointer;
    width: 45%;
    padding: 18px;
    border: none;
    font-family: 'Lora', serif;
    font-size: 16px;
    text-align: left;
    margin-top: 4%;
    margin-left: 25%;
}
.item.active .panel{
    max-height: 600px;
    transition: .4s linear;
}
.accordion:hover{
    color: white;
}
div[id]::before {
    content: attr(id);
}
button > .fa-chevron-up, .fa-chevron-down{
    background-color: whitesmoke;
    width: 20px;
}
.panel{
    padding: 0 18px;
    background-color: whitesmoke;
    max-height: 0;
    overflow: hidden;
    margin-left: 25%;
    width: 45%;
}