@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    font-family: 'Lora', serif;
}
.title{
    text-align: center;
}
.login-form, .signup-form{
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
button{
    width: 100px;
    cursor: pointer;
}