/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom right, #dcbadcf9,rgb(227, 222, 171));
  height: 700px;
  width: 100%;
}
#grad1 {
  height: 800px;
  background: linear-gradient(to bottom right, #dcbadcf9,rgb(227, 222, 171));
}
#grad1 table{
  outline-color: #a4b9f0f9;
  outline-width: 5px;
  outline-style: dotted;
  outline-offset: 15px;
  width: 500px;
  height: 120px;
}
.add-matkul {
  font-size: 16px;
  letter-spacing: 1px;
  color: #707fa4f9;
  font-family: 'Lora', serif;
  padding: 30px;
}
.show-matkul {
  font-size: 16px;
  letter-spacing: 1px;
  color: #707fa4f9;
  font-family: 'Lora', serif;
  padding: 30px;
}
.detail-matkul {
  font-size: 16px;
  letter-spacing: 1px;
  color: #707fa4f9;
  font-family: 'Lora', serif;
  padding: 30px;
}
.detail-matkul table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.show-matkul p {
  font-size: 25px;
  text-align: center;
}
.detail-matkul p {
  font-size: 25px;
  text-align: center;
}
.add-matkul p {
  font-size: 20px;
  text-align: center;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-menu a:hover {
  background-color: lightblue;
}
.all{
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.browser{
  display: flex;
  flex-direction: column;
  background:#fff;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}
.browser .text p{
  margin: 4px;
  padding: 12px;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(33, 32, 32);
  font-family: 'Lora', serif;
  line-height: 1.8;
}
.browser .text h4{
  margin: 4px;
  padding: 12px;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(33, 32, 32);
  font-family: 'Lora', serif;
  line-height: 1.8;
  text-align: center;
}
.browser .photos img{
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.table-outline{
  color: #707fa4f9;
  font-size: 18px;
  font-family: 'Lora', serif;
  font-weight: bolder;
  text-align: center;
  float: left;
  margin-left: 450px;
  margin-top: 20px;
}
.table-outline h4{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #a4b9f0f9;
  font-family: 'Lora', serif;
}
.custom-margin{
  margin-left: 10%;
  margin-right: 10%;
}
.logo{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bolder;
}
.nav-links {
  color:rgba(255, 255, 255, 0.975);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  margin-left: 40px;
}
.center-content{
  color: #fff;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Lora', serif;
  margin: auto;
  padding: 250px 0;
}
.social-media a{
  display: inline-block;
  font-size: 35px;
  margin: 10px 10px;
  text-decoration: none;
}
.fa-instagram{
  color: #fff;
}
.fa-linkedin{
  color: #fff;
}
.fa:hover{
  color:#a4b9f0f9;
}
.me{
  width: 200px;
  clip-path: circle();
  display: block;
  float: left;
  margin-left: 300px;
  margin-top: 90px;
}
.about-content{
  color: #707fa4f9;
  font-weight: bold;
  font-family: 'Lora', serif;
  width: 600px;
  height: 250px;
  float: right;
  margin-right: 270px;
  margin-top: 120px;
}
.about-content p{
  text-align: center;
  color: #707fa4f9;
  font-family: 'Lora', serif;
  outline-color: #a4b9f0f9;
  outline-width: 5px;
  outline-style: dotted;
  outline-offset: 15px;
  font-size: 18px;
  line-height: 1.6;
}
.about-content h4{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width:768px){
  #grad1 {
      height: 100%;
  }
  .center-content{
      font-size: 15px;
  }
  .me{
      display: block;
      width: 150px;
      margin-left: 180px;
      margin-top: 40px;
  }
  .about-content{
      width: 405px;
      height: 50px;
      margin-right: 50px;
      margin-top: 20px;
  }
  .about-content h4{
      font-size: 15px;
  }
  .about-content p{
      outline-offset: 13px;
      font-size: 12px;
      line-height: 1.5;
  }
  .table-outline{
      margin-left: 100px;
      margin-top: 130px;
      font-size: 12px;
  }
  .table-outline h4{
      text-align: center;
      font-weight: bold;
      font-size: 15px;
  }
  #grad1 table{
      outline-offset: 13px;
      width: 300px;
      height: 100px;
  }
  .all{
      display: flex;
      flex-direction: column;
  }
  .browser{
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 55px;
  }
}