{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Story 7</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/accordion.css' %}"> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="item">
        <button class="accordion">Current Activities
            <button class="btn-move-up"><i class="fa fa-chevron-up up"></i></button>
            <button class="btn-move-down"><i class="fa fa-chevron-down down"></i></button>
        </button>
        <div class="panel"><br>
            <p>Selesaiin story 7 sebelum sabtu :')</p>
            <p>Nyicil tugas business plan</p>
        </div>
    </div>
    <div class="item">
        <button class="accordion">Organizations Experiences
            <button class="btn-move-up"><i class="fa fa-chevron-up up"></i></button>
            <button class="btn-move-down"><i class="fa fa-chevron-down down"></i></button>
        </button>
        <div class="panel"><br>
            <p>SMP OSIS di bagian dana usaha</p>
            <p>Sekretaris di ekskul waktu SMA</p>
        </div>
    </div>
    <div class="item">
        <button class="accordion">Achievements
            <button class="btn-move-up"><i class="fa fa-chevron-up up"></i></button>
            <button class="btn-move-down"><i class="fa fa-chevron-down down"></i></button>
        </button>
        <div class="panel"><br>
            <p>I don't have any</p>
            <p>Tapi masuk Fasilkom UI termasuk kan ya</p>
        </div>
    </div>
    <div class="item">
        <button class="accordion">Commitee Experiences
            <button class="btn-move-up"><i class="fa fa-chevron-up up"></i></button>
            <button class="btn-move-down"><i class="fa fa-chevron-down down"></i></button>
        </button>
        <div class="panel"><br>
            <p>Panitia SETARA (event SMA)</p>
            <p>Playground COMPFEST</p>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>

    {% endblock %}
</body>
</html>