<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nadya Shelim</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

    {% block content %}
<body>

    <div class="show-matkul">
        <p>SCHEDULE</p><br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Lecturer</th>
                <th scope="col">Number of Credits</th>
                <th scope="col">Description</th>
                <th scope="col">Semester</th>
                <th scope="col">Room</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>

            {% for jadwal in semua_jadwal %}
            <tr>
                <td>
                    <a href="{% url 'jadwal:detail' id=jadwal.id %}">{{ jadwal.Subject }}</a>
                </td>
                <td>{{ jadwal.Lecturer }}</td>
                <td style="text-align: center;">{{ jadwal.Credits }}</td>
                <td>{{ jadwal.Description }}</td>
                <td>{{ jadwal.Semester }}</td>
                <td>{{ jadwal.Room }}</td>
                <td>
                    <a class="btn" style="background-color: salmon; color: white;" href="{% url 'jadwal:delete_matkul' id=jadwal.id %}" role="button">Delete Subject</a>
                </td>
            </tr>
            
            {% endfor %}
            </tbody>
        </table>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
    {% endblock content %}

</html>