{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {% block head %}
  {% endblock %}
  {% block meta %}
  {% endblock meta %}
  
</head>

{% block navbar %}
<body>
</body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand logo custom-margin" href="#">NADY'S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto custom-margin">
          <li class="nav-item active">
            <a class="nav-link nav-links" href="{% url 'story3:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-links" href="{% url 'story3:about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-links" href="{% url 'story3:experience' %}">Experiences</a>
          </li>
          <li class="nav-item">
              <a class="nav-link nav-links" href="{% url 'story1:home' %}">Story 1</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-links" href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Schedule
            </a>
            <div class="dropdown-menu dropdown-style" aria-labelledby="dropdownMenuLink" style="background-color:#a4b9f0f9;">
              <a class="dropdown-item" href="{% url 'jadwal:add_matkul' %}" style="color: white;">Add</a>
              <a class="dropdown-item" href="{% url 'jadwal:view_matkul' %}" style="color: white;">View</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-links" href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activity
              </a>
              <div class="dropdown-menu dropdown-style" aria-labelledby="dropdownMenuLink" style="background-color:#a4b9f0f9;">
                <a class="dropdown-item" href="{% url 'activity:add_activity' %}" style="color: white;">Add</a>
                <a class="dropdown-item" href="{% url 'activity:view_activity' %}" style="color: white;">View</a>
                <a class="dropdown-item" href="{% url 'story7:accordion' %}" style="color: white;">Story 7</a>
                <a class="dropdown-item" href="{% url 'books:buku' %}" style="color: white;">Pick a Book</a>
              </div>
            </li>
        </ul>
          
        {% if user.is_authenticated %}
        <a class="nav-link" style="color: white;" href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a class="nav-link" style="color: white;" href="{% url 'story9:signup' %}">Sign Up</a>
        <a class="nav-link" style="color: white;" href="{% url 'login' %}">Log In</a>
        {% endif %}


    </div>
  </nav>
{% endblock navbar %}

  {% block content %}
  {% endblock content %}
</html>
